<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartDietary</title>
    <link rel="stylesheet" href="Css/navbar.css">
    
</head>
<body>

    <header >
    <!-- navbar starts -->
    <section th:fragments="navbar">
      <nav class="nav1">
        <div class="logo">
          <img src="https://tse4.mm.bing.net/th/id/OIP.6zYllqW5w1cVPRjzmbxAIQHaHa?w=221&h=220&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt="Logo">
          <h1>SmartDietary</h1>
        </div>



        <div class="search">
          <input type="text" placeholder="Search...">
          <button>Search</button>
        </div>



        <div class="dark-light">
          <button onclick="toggleMode()">Dark Mode</button>
        </div>

        <div class="profile">
          <a href="profile"> <img src="Image/profile.png" alt="Profile"></a>
        </div>
      </nav>
     
      <nav class="nav2">
        <ul>
          <li><a href="home">Home</a></li>

          <li class="dropdown">
            <a href="service">Services</a>
          </li>

          <li class="dropdown">
            <a href="expertise">Diet Expertise</a>
          </li>

          <li class="dropdown">
            <a href="blog">Health Blog</a>
          </li>
          <li class="dropdown">
            <a href="doctorlogin">Doctors Panel</a>
            
          </li>


          <li><a href="about">About</a></li>
          <li><a href="contact">Contact Us</a></li>
        </ul>
        <!-- <div class="buttons">
          <a href="login"><button>Sign In</button></a>
          <a href="register"><button>Sign Up</button></a>
        </div> -->
      </nav>

      <script src="Js/navbar.js"></script>

    </section>
    <!-- navbar ends -->
  </header>
  
    
</body>
</html>