<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/about.css">
    <title>SmartDietary</title>
</head>
<body>
    <!-- navbar starts -->
    <section>
        <nav class="nav1">
          <div class="logo">
            <img src="https://tse4.mm.bing.net/th/id/OIP.6zYllqW5w1cVPRjzmbxAIQHaHa?w=221&h=220&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt="Logo">
            <h1>SmartDietary</h1>
          </div>
  
  
  
          <div class="search">
            <input type="text" placeholder="Search...">
            <button>Search</button>
          </div>
  
  
  
          <div class="dark-light">
            <button onclick="toggleMode()">Dark Mode</button>
          </div>
  
          <div class="profile">
            <a href="profile"> <img src="profile.png" alt="Profile"></a>
          </div>
        </nav>
        <nav class="nav2">
          <ul>
            <li><a href="#">Home</a></li>
  
            <li class="dropdown">
              <a href="#">Services</a>
              <ul class="dropdown-menu">
                <li><a href="#">Deit Plan</a></li>
                <li><a href="#">Generate Diet</a></li>
                <li><a href="#">Dietians</a></li>
                <li><a href="#">Reminder System</a></li>
              </ul>
            </li>
  
            <li class="dropdown">
              <a href="#">Diet Expertise</a>
            </li>
  
            <li class="dropdown">
              <a href="#">Health Blog</a>
              <ul class="dropdown-menu">
                <li><a href="#">Fitness</a></li>
                <li><a href="#">Diet</a></li>
                <li><a href="#">Exercise</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="doctorlogin">Doctors Panel</a>
              
            </li>
  
  
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact Us</a></li>
          </ul>
          <div class="buttons">
            <a href="login"><button>Sign In</button></a>
            <a href="register"><button>Sign Up</button></a>
          </div>
        </nav>
  
        <script src="Js/navbar.js"></script>
  
      </section>
      <!-- navbar ends -->
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
          <div class="responsive-container-block leftSide">
            <p class="text-blk heading">
              Diet is key for Healthy Lifestyle
            </p>
            <p class="text-blk subHeading">
                This user-friendly diet chart management system empowers individuals to take control of their health journeys through personalized guidance, easy-to-use tools, and ongoing support.
            </p>
          </div>
          <div class="responsive-container-block rightSide">
            <img class="number1img" src="https://cdn.pixabay.com/photo/2019/12/28/21/21/girl-4725806_640.jpg">
            <img class="number2img" src="https://media.istockphoto.com/id/1375039707/photo/hands-holding-heart-shape-plate-with-healthy-salad.jpg?s=612x612&w=0&k=20&c=Nkp22aBb4SWyLGe3wXK0yqYLhTQs3BCeUZH45iY82Ls=">
            <img class="number3img" src="https://cdn.pixabay.com/photo/2018/03/09/17/46/paprika-3212163_640.jpg">
            <img class="number5img" src="https://cdn.pixabay.com/photo/2015/12/07/18/01/yogurt-1081135_640.jpg">
            <iframe allowfullscreen="allowfullscreen" class="number4vid"  src="video\v1.mp4">
            </iframe>
            <img class="number7img" src="https://cdn.pixabay.com/photo/2015/06/19/16/48/watermelon-815072_640.jpg">
            <img class="number6img" src="https://media.istockphoto.com/id/512695634/photo/professional-nutritionist-writing-medical-records.jpg?s=612x612&w=0&k=20&c=gCgvJd-cIUGBEOtEtzzn6S9iTFON_URDzpBfWQ0OP4s=">
          </div>
        </div>
      </div>
      <!-- footer starts -->
    <footer>
        <div class="footer-info">
            <p>Contact us: +1-123-456-7890</p>
            <p>Email for help: <a href="mailto:help@example.com">help@example.com</a></p>
        </div>
        <div class="footer-links">
            <a href="#">Diet Generate</a>
            <a href="#">Reminder System</a>
            <a href="#">Health Specialists</a>
            <a href="#">Healthy Blog</a>
        </div>
        <p>&copy; 2024 Diet Chart Management and Reminder System. All rights reserved.</p>
    </footer>
      <!-- footer ends -->
</body>
</html>