<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
    <header>
        <section th:insert="fragments/navbar">
        
        </section>
    </header>
    <main>
        <section>
            <div class="container my-2" align="center" style="margin-top: 30px;">
                <h3 style="background-color: antiquewhite; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: brown;">Diet Generation and Modification Panel</h3>
                
                <table style="width:100%; margin-top: 20px;" border="1" class="table table-striped table-responsive-md" align="center">
                    <thead style="text-align: center;">
                        <tr>
                            <th>Time</th>
                            <th>Type</th>
                            <th>Meal</th>
                            <th>Modification</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr th:each="dietdata: ${alldietdata}">
                            <td th:text="${dietdata.mealtime}"></td>
                            <td th:text="${dietdata.type}"></td>
                            <td th:text="${dietdata.meal}"></td>
                            <td>
                                <a th:href="@{/showFormForUpdate/{id}(id=${dietdata.id})}" class="btn btn-primary">Modify</a>
                                <a th:href="@{/deletebyId/{id}(id=${dietdata.id})}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="width: 100%;">
                    Add New
                </button>
            </div>
        </section>
    </main>

    <!-- Add New Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add New Diet Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add your form for adding new records here -->
                    <form th:action="@{/dietsave}" th:object="${diet}" method="POST">
                        <div class="form-group">
                            <label for="mealtime">Time</label>
                            <input type="text" class="form-control" id="mealtime" name="mealtime" placeholder="Enter time">
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" id="type" name="type" placeholder="Enter type">
                        </div>
                        <div class="form-group">
                            <label for="meal">Meal</label>
                            <input type="text" class="form-control" id="meal" name="meal" placeholder="Enter meal">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section th:insert="fragments/footer"> 

    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
