<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartDietary</title>
    <link rel="stylesheet" href="Css/login.css">
  </head>
  <body>
    <div class="container flex">
      <div class="facebook-page flex">
        <div class="text">
          <h1>SmartDietry</h1>
          <p>Enhance Your Healthiest Life</p>
          <p>followed by Specialists.</p>
        </div>
        <form action="/home">
            <header>Welcome Back !</header>
          <input type="email" placeholder="Email or phone number" required>
          <input type="password" placeholder="Password" required>
          <div class="link">
            <button type="submit" class="login">Login</button>
            <a href="#" class="forgot">Forgot password?</a>
          </div>
          <hr>
          <h3>Not Registered yet, register below !</h3>
          <div class="button">
            <a href="register">User Register</a>
            <a href="doctorregister">Doctor Register</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>