<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartDietary</title>
    <link rel="stylesheet" href="Css/patientlist.css">
    <link rel="stylesheet" href="Css/navbar.css">
</head>

<body>

    <header>
        <section th:insert="fragments/doctornavbar">

        </section>
    </header>
    <main>
        <section class="image-description-section">
            
            <div class="description-container">
                <section>
                    <div>
                        <h1>
                            Request For Generate
                        </h1>
                    </div>
                    <div class="patientcard">
                        <img src="https://th.bing.com/th/id/OIP.GHGGLYe7gDfZUzF_tElxiQHaHa?w=200&h=200&c=7&r=0&o=5&cb=10&dpr=1.1&pid=1.7" alt="img">
                        <div class="content">
                            <h2>Umang</h2>
                            <button class="appointment-button">Accept</button>
                            <button class="view-profile-button">Delete</button>
    
                        </div>
    
                    </div>
    
                </section>
                <section>
                    <div>
                        <h1>
                            Appointment Request
                        </h1>
                    </div>
                    <div class="patientcard">
                        <img src="https://th.bing.com/th/id/OIP.GHGGLYe7gDfZUzF_tElxiQHaHa?w=200&h=200&c=7&r=0&o=5&cb=10&dpr=1.1&pid=1.7" alt="img">
                        <div class="content">
                            <h2>Suyash</h2>
                            <button class="appointment-button">Confirm</button>
                            <button class="view-profile-button">Delete</button>
    
                        </div>
    
                    </div>
    
                </section>
            </div>
            <div class="image-container">
                <img src="Image/patientlistpage.png" alt="Image Description">
            </div>
        </section>
        <section class="mainpatient">
        <section class="left-section">


            <section >

                <div>
                    <h1>
                        Connected Patients
                    </h1>
                </div>
                <div class="patientcard" th:each="patient:${allpatientlist}">
                    <img src="https://th.bing.com/th/id/OIP.GHGGLYe7gDfZUzF_tElxiQHaHa?w=200&h=200&c=7&r=0&o=5&cb=10&dpr=1.1&pid=1.7" alt="img">
                    <div class="content">
                        <h2 th:text="${patient.name}"></h2>
                        <a href="viewpatientdata"><button class="appointment-button">View Profile</button></a>
                        <button class="view-profile-button">Remove</button>

                    </div>

                </div>

            </section>
            <section >

                <div>
                    <h1>
                        Appointed Patients
                    </h1>
                </div>
                <div class="patientcard" th:each="patient:${allpatientlist}">
                    <img src="https://th.bing.com/th/id/OIP.GHGGLYe7gDfZUzF_tElxiQHaHa?w=200&h=200&c=7&r=0&o=5&cb=10&dpr=1.1&pid=1.7" alt="img">
                    <div class="content">
                        <h2 th:text="${patient.name}"></h2>
                        <a href="viewpatientdata"><button class="appointment-button">View Profile</button></a>
                        <button class="view-profile-button">Remove</button>

                    </div>

                </div>

            </section>

        </section>
        <section class="right-section">
            <h1>
               
            </h1>
        </section>
    </section>

    </main>

    

</body>

</html>