    
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
    <div class="container my-2" align="center">

        <h3>Employee List</h3>
        
            <table style="width:80%" border="1"
                class = "table table-striped table-responsive-md">
            <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>password</th>
            <th>role</th>
            <th>mobile</th>
            <th>id</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee:${allemplist}">
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.password}"></td>
                <td th:text="${employee.role}"></td>
                <td th:text="${employee.mobile}"></td>
                <td th:text="'USER'+${employee.id}+'HEALTH'"></td>
                <td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}"
                        class="btn btn-primary">Update</a>
                        <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}"
                        class="btn btn-danger">Delete</a>
                        <a th:href="@{/addnew}" class="btn btn-primary" >Add Employee</a>
            </td>
        </tr>
        </tbody>
        </table>
        </div>
</body>
</html>